{% extends '::base.html.twig' %}

{% block header %}
	{% include "PxSPeerReviewingBundle::header.html.twig" %}
{% endblock %}

{% block body %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
{% endblock %}