{% extends "PxSPeerReviewingBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
		<div class="well span4 offset4">
			<h2>Welcome!</h2>
			<p>Select the reviewer from the list. </p>
			<select id="select-users">
				{% for entry in users %}
	                <option value="{{ entry.id }}">{{ entry.name }}</option>
				{% endfor %}
			</select>
			<a id="enter-button" class="btn btn-primary" href="{{ path('PxSPeerReviewingBundle_dashboard', {user:users[0].id }) }}"  rel="{{ path('PxSPeerReviewingBundle_dashboard', {user:'' }) }}" style="margin-bottom:9px;">Enter! </a>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script>
	
		$('#select-users').change(function() 
		{
			$('#enter-button').attr('href', $('#enter-button').attr('rel') + $(this).attr('value') );
			
		   alert('Value change to ' + $(this).attr('value'));
		});
	
</script>
{% endblock %}

