[parameters]
    database_driver="pdo_mysql"
    database_host="localhost"
    database_port="8889"
    database_name="peerreviewing"
    database_user="root"
    database_password="root"
    mailer_transport="smtp"
    mailer_host="localhost"
    mailer_user=""
    mailer_password=""
    locale="en"
    secret="f8dbb136281fdbf986c34a8921086a0e53e7c261"
