@CHARSET "UTF-8";

.navbar .brand {
	background: url("../img/PxS-logo-small.png") no-repeat scroll 0 center;
	margin-left: 0px;
	padding-left: 75px;
}

.userbox .gravatar {
	float:left;
	border: 1px solid #C6C6C6;
	margin-right: 5px;
	
}
.userbox span {
	vertical-align:middle;
	float:left;
	height:50px;
	line-height:50px;
	margin-top:2px;
}