{% extends "PxSPeerReviewingBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
		<div class="well span4 offset4">
			<h2>Welcome! {{ name }} </h2>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
	</script>
{% endblock %}

