{% extends "PxSPeerReviewingBundle::layout.html.twig" %}

{% block content %}
	<div class="row">
		<div class="well span4 offset4">
		<form class="form-vertical" action="{{ path('PxSPeerReviewingBundle_homepage') }}" method="POST">
			<h2>Welcome!</h2>
			<p>Select the reviewer from the list. </p>
			<input type="text" name="_username" id="username" value="{{ name }}" />
			<input type="submit" class="btn btn-primary" style="margin-bottom:9px;" value="Enter!" />
		</form>
		</div>
	</div>
{% endblock %}